{% extends 'breakingbadApi/base.html' %}
{% block content%} 
<body>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-1">
            {%for personaje in personajes%}
            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                    <img src="{{personaje.img}}" class="card-img-top" alt="..." style="height: 400px; width: 300px;">
                    <div class="card-body">
                    <p class="card-text">Nombre: {{personaje.name}}</p>
                    <p class="card-text">Cumpleaños: {{personaje.birthday}}</p>
                    <p class="card-text">Ocupacion: {{personaje.occupation}} </p>
                    <p class="card-text">Estado: {{personaje.status}}</p>
                    <p class="card-text">Apodo: {{personaje.nickname}}  </p>
                    <p class="card-text">Retratado: {{personaje.portrayed}} </p>
                    <p class="card-text">Categoria: {{personaje.category}}  </p>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div> 
    </div>
</body>
{% endblock %}