{% load static %}
{% block content %}

<head>
   <title>MakeUp Api</title>
   <link rel="stylesheet" type="text/css" href="{% static 'makeupApi/css/index.css'%}">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"/>
   <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
   <script>
      $(document).ready(function() {
         $('#example').DataTable();
      } );
   </script>
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

</head>

<body>
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center my-2">
                <h3 class="py-3">Makeup Data</h3>
         </div>
      </div>
      <div class="portfolio-menu mt-2 mb-4">
         <ul>
               <center>
                  Tipos:
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{% url 'index' %}" class="text-decoration-none">Todo</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{% url 'index' %}Blush" class="text-decoration-none">Blush</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{% url 'index' %}Bronzer" class="text-decoration-none">Bronzer</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{% url 'index' %}Eyebrow" class="text-decoration-none">Eyebrow</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{% url 'index' %}Eyeliner" class="text-decoration-none">Eyeliner</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{% url 'index' %}Eyeshadow" class="text-decoration-none">Eyeshadow</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{% url 'index' %}Foundation" class="text-decoration-none">Foundation</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{% url 'index' %}Lipstick" class="text-decoration-none">Lipstick</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{% url 'index' %}Mascara" class="text-decoration-none">Mascara</a></li>
               </center>
               
        </ul>
         <ul>
            <center>
               {%if 'Vegan' in request.path or 'Natural' in request.path or 'Canadian' in request.path%}
               {%elif 'Eyeliner' in request.path%}
               {%elif 'Eyebrow' in request.path%}

               {% else %}
                  Componente:
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{{ request.path }}/Vegan" class="text-decoration-none">Vegan</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{{ request.path }}/Canadian" class="text-decoration-none">Canadian</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="{{ request.path }}/Natural" class="text-decoration-none">Natural</a></li>
               {%endif%}
            </center>
         </ul>
      </div>
      <div class="portfolio-item row">

   </div>
</body>

<table id="example" class="table table-striped" style="width:100%">
   <thead>
       <tr>
           <th>ID</th>
           <th>Nombre</th>
           <th>Imagen</th>
           <th>Marca</th>
           <th>Precio</th>
           <th>Categoria</th>
           <th>Link producto</th>
       </tr>
   </thead>
   <tbody>
      {% for d in data%}
       <tr>
           <td>{{d.id}}</td>
           <td>{{d.name}}</td>
           <td><img class="img-fluid" src="{{d.image_link}}" style="height: 250px; width:300px ;"></td>
           <td>{{d.brand}}</td>
           <td>{{d.price}}</td>
           <td>{{d.category}}</td>

           <td><a href="{{d.product_link}}" class="text-decoration-none">{{d.product_link}}</a></td>
           
       </tr>
      {%endfor%}
   </tbody>
    <tfoot>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Link producto</th>
            </tr>
        </tfoot>
   </table>


{% endblock %}