<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Menu API'S</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <p class="bg-primary text-white text-center">Logueado como: {{user.username}}</p>
    {% endif %}

    <div class="container">

        <div>
          <h1 class="text-center">API'S</h1>
        </div>
      
        <div class="d-flex justify-content-center">
          <div class="list-group">
            <a href="digimon/" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Digimon APi</h5>
                  <small class="text-muted">Lautaro Nicolás Avila</small>
                </div>
                <p class="mb-1">Api que devuelve datos relacionados a los nombres<br>de los Digimons, sus niveles y una imagen ilustrativa</p>
              </a>
            <a href="makeup/" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Make Up Api</h5>
                <small class="text-muted">Lautaro Nicolás Avila</small>
              </div>
              <p class="mb-1">Api con datos sobre maquillaje, incluyendo sus tipos <br>y componentes</p>
            </a>
            <a href="allauth/" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Allauth Api</h5>
                <small class="text-muted">Emiliano Luis Rios, Lautaro Nicolás Avila</small>
              </div>
              <p class="mb-1">Api que permite iniciar sesión con autentificación <br> por Google</p>
            </a>
            <a href="valorant/" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Valorant Api</h5>
                <small class="text-muted">Emiliano Luis Rios</small>
              </div>
              <p class="mb-1">Api que devuelve datos relacionados con el videojuego<br> Valorant</p>
            </a>
            <a href="/freetogame/games/all/" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">FreeToGame Api</h5>
                <small class="text-muted">Emiliano Luis Rios</small>
              </div>
              <p class="mb-1">Api que permite ver juegos gratis <br> por FreeToGame</p>
            </a>
            <a href="breakingbad/" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Breaking Bad Api</h5>
                <small class="text-muted">Alexandro David Ferreyra</small>
              </div>
              <p class="mb-1">Api que devuleve datos relacionados con la serie<br> Breaking Bad</p>
            </a>
            <a href="disney/" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Disney Api</h5>
                <small class="text-muted">Alexandro David Ferreyra</small>
              </div>
              <p class="mb-1">Api que devuelve datos relacionados con la franquicia<br> Disney</p>
            </a>
          </div>
        </div>
      </div>
  </body>
  <footer>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </footer>
</html>